@font-face {
  font-family: "iransans";
  src: url("../font/iransans.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: iransans;
  color: #333;
  font-size: 12pt;
  direction: rtl;
  background: #eceff1;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
 main {
  width: 1600px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #efefef;
  float: none;
} 
.col-8 {
  float: right;
  width: 78.967%;
  margin: 0.5%;
}
.col-4 {
    float:right;
    width: 32.33333333%;
    margin:5px;
      
  }
  .col-3 {
    float: right;
    width: 18%;
    margin: 1%;
}
  .col-2 {
    float:right;
    width: 19%;
    }
  .col-1 {
    width: 7.633%;
    float:right;
}
.col-6 {
  float:right;
      width: 50%;
  }
.menu {
  float: right;
}
.menu i {
  display: none;
}
header {
  float: right;
  width: 100%;
}
header .top_header {
  float: right;
  width: 100%;
  font-size: 0.7em;
  background-color: #5c00a7;
}
header .top_header .menu-place ul li a{
  color: #fff;
}
header .top_header .menu-place ul li a:hover{
  color:  #808080;
}
header div:nth-child(1) span:nth-child(2) {
  float: right;
  text-align: right;
  padding: 0.5%;
}
header div:nth-child(1) span:nth-child(3) {
  float: left;
  text-align: left;
  padding: 0.5% 1%;
  width: 20%;
}
a:link, a:visited {
  color: #f00;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: none;
}
a{
	color: #555;
	text-decoration: none;
	transition: all 0.4s;
}
header div h3 a:visited,
header div h3 a:link{
  color: #fff;
}
header div h3 a:hover
{
  color: #fff;
  background-color:#c9c9c9;

}
header div h3 a{
  padding: 2% 5%;

}
header .top_header span:nth-child(1) .dropdown ul li {
  padding: 0.5em;
}
header div .menu-place {
  text-align: center;
  float: right;
}
header .top_header li {
  border-left: 1px solid #b4a4a4;
}
h3{
  font-size: 0.9em;
}
header div:nth-child(2){
    float: right;
    width: 100%;
    background: #6f42c1;
}
.logo-place img {
  max-width: 100%;
  max-height: 55px;
}
.logo-place {
  float: left;
  padding: 8px 1%;
}
.basket{
  float: right;
  background: #6943ae;
  padding: 2% 1%;
}
.basket span{
  font-weight: bold;
  padding:5px 11px 0;
  border-radius: 50%;
  background-color: #ff7a04;
  vertical-align: -moz-middle-with-baseline;
  vertical-align: baseline;
}
.basket a ,
.login a{
  color: #fff;

}
.basket a:hover ,
.login a:hover{
  color: #ff7a04;
}
.basket span a:hover{
  color: #6f42c1;
}
.login{
  background: #6d48b0;
  padding: 2% 1%;
  display: inline-block;

}
.search {
    display: inline-block;
    text-align: right;
    background-color: #e7e7e7;
    border-radius: 5px;
    width: 35%;
}
.i-search {
  cursor: pointer;
  padding-top: 10px;
  float: left;
  color: #ff7a04;
}
#txtsearch {
  background-color: transparent;
  color: #6c6969;
  padding: 0px;
  margin-top: 0px;
  border: 0px;
  height: 35px;
  text-align: right;
  width: 90%;
}
.menu-box{
  float: right;
  width: 100%;
  border-bottom: .2em solid #dbe4ec;
}
aside .menu-box nav ul li{
  width: 100%;
}
.wraper {
  width: 98%;
  margin: 10% 1% auto;
  display: flex;
}
.content {
  min-width: 500px;
  flex: 5;
  float: left;
  margin: 1% 1% 1% 0;
}
.sidebar {
  float: right;
  flex: 1;
  min-width: 200px;
  text-align: right;
  margin: 1% 0 0 0;
  background: #fff;
  border-radius: 5px;
  padding: 0;
  height: 425px;
  overflow: auto;
  overflow-x: hidden;
}
.sidebar ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebar ul li {
  border-bottom: 1px dotted #ccc1e1;
  padding: 4%;
}
.sidebar ul li:hover {
  color: #ff7a04;
  box-shadow: 0 .1em 1em rgba(63,87,111,0.11);
  background: #efe4ff;
}
.banner-place {
  position: relative;
  width: 100%;
  float: right;
  line-height: 0;
  height: 425px;
}
.banner {
  width: 100%;
  display: none;
  float: right;
  height: 100%;
}
.banner img {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}
aside.sidebar ul li a{
  color: #808080;
}
aside.sidebar ul li:hover a{
  color: #ff7a04;
}
.banner-place .circle-place {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  padding: 10px 0px;
  float: right;
  width: 100%;
  text-align: center;
}
.banner-place .circle-place i {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff7a04;
  display: inline-block;
  margin: 0 5px;
  transition: .3s ease-out;
}
.circle-place i:hover {
  background-color: white;
}
.banner .caption {
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 20%;
  background: #0000002e;
  text-align: center;
  left: 0;
  padding: 1%;
}
.caption h2, .caption h3 {
  line-height: 180%;
  color: #fff;
}
.product {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 1% ;
}
.product .col-3 {
  background: #fff;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: inline-block;
  float: none;
  width: 19.7%;
  margin: 0;
}
.product .col-3:hover{
  transform: scale(1.02);
  box-shadow: 1px 1px 10px 1px #cccccc;
}
.product .col-3 img {
  padding: 4%;
  max-width: 100%;
  vertical-align: middle;
  min-height: 200px;
  object-fit: cover;
  height: 300px;
  width: 300px;
}
.product_category{
  padding: 1% 0;
}
figure{
  margin: 0;
}
.product .product_title {
  float: right;
  padding: 2%;
  height: 60px;
  text-align: center;
  width: 96%;
  line-height: 140%;
}
.product .product_title a{
  color: #333;
}
.product .product_title a:hover{
  color: #ff7a04;
}
.product_footer{
  float: right;
  width: 100%;
  margin: 2% 0;
}
.product .price, .category .product_footer .price ins {
  border-radius: 50px;
  background-color: rgb(255, 122, 4);
  padding: 2%;
  text-align: center;
  margin: 2%;
  transform: perspective(1px) translateZ(0);
  float: left;
  width: 96%;
}
.category .product_footer .price ins:hover {

  background: #65577f;
}
.product .price:hover {
  background-color: #6f42c1;
  transition: all 0.2s;
  color: #fff;
}
.product_footer del {
  color: #7a8c9a;
  margin: auto;
  float: left;
  padding: 2%;
  font-size: 1.2em;
  text-align: center;
  width: 90%;
}
.product_footer .price ins {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  padding: 5%;
}
.category .product_footer .price {
  float: right;
  width: 100%;
  margin: 2% 0;
}
.product .col-4 img ,
.product .col-2 img{
  max-width: 100%;
  vertical-align: middle;
  min-height: 200px;
  object-fit: cover;
  height: 383px;
  width: 505px;
}
.product .col-4{
  background: #bcbbbe;
  position: relative;
  width: 33.333%;
  margin: 0;
  transition: all 0.5s ease-out;
}
.product .col-4:hover{
  transform: scale(1.01);
}
.product .col-4 figure a{
 line-height: 0;
}
.product .col-4 .caption {
  position: absolute;
  top: 10%;
  padding: 2%;
  position: absolute;
  top: 10%;
  padding: 2%;
  background: #3333336e;
}
.product .col-4 .caption a{
  color: #fff;
}
.product .col-4:nth-child(1){
  background: #bdaae0;
}
.product .col-4:nth-child(2){
  background: #8b79ad;
}
.product .col-4:nth-child(3){
  background: #65577f;
}
.hover_effect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.brands .hover_effect::before,
.product .hover_effect::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #140F1CB0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.brands .hover_effect::before {
  background: #F6F1FF;
}
.hover_effect:hover, .hover_effect:focus, .hover_effect:active {
  color: white;
}
.hover_effect:hover::before, .hover_effect:focus::before, .hover_effect:active::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.category section.col-2 {
  background-color: #fff;
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  float: none;
  width: 18.6%;
}
.category{
  background: #ff7a04;
  width: 100%;
  float: right;
  margin: 2% 0;
  padding: 2% 0;
}
.category figure img{
  padding:4%;
  max-width: 100%;
  min-height: 200px;
  object-fit: cover;
  height: 220px;
  width: 220px;
    }
.category .col-3{
  padding: 0;
  text-align: center;
  color: #fff;
}
.more_plan {
  padding: 1% 2%;
  display: inline-block;
  background: #65577f;
  font-weight: bold;
  color: #fff;
  border: none;
  transition: all 0.2s;
}
.best_product .more_plan {
  padding: 1% 2%;
  display: inline-block;
  background: none;
  font-weight: bold;
  color: #fff;
  border: none;
  transition: all 0.2s;
  width: unset;
}
.best_product div{
  width: 100%;
}
.more_plan a {
  color: #fff;
}
.best_product .more_plan a {
  color: #ff7800;
}
.category h1{
  padding: 2%;
  margin: 0;
}
.category .col-8 .product_title a{
    color: #333;
}
.category .col-8 .product_title a:hover{
  color: #ff7a04;
}
.category .col-8 .product_title{
  width: 96%;
  float: right;
  padding: 2%;
  height: 50px;
  background: #e6e0f3;
}
.category .col-8 .col-2{
  transition: all 0.5s ease-in-out;
}
.category .col-8 .col-2:hover{
  transform: scale(1.02);
  box-shadow: 1px 1px 10px 1px #4a4848;
}
.best_product {
  background-color: #fff;
  padding: 1%;
  text-align: center;
}
.best_product .col-3{
  background-color: #f3f6f8;
}
.best_product .title {
  font-size: 1.4em;
  padding: 1%;
  width: 100%;
  color: #888;
  border-bottom: 1px solid #ff7a04;
  text-align: right;
}
.best_product mark{
    border-radius: 50px;
    padding: 2%;
    margin: 2%;
    float: left;
    background: #eee6e0;
    color: rgb(255, 0, 0);
}
.best_product .discount{
  opacity: 0.5;
}
.best_product .col-3:hover .discount{
  opacity: 1;
}
.best_product .col-3:hover img,
.best_product .col-3:hover .product_title{
  opacity: 0.5;
}
.best_product .discount a{
 color: #fff;
}
.brands .col-2 img {
  max-width: 100%;
  vertical-align: middle;
  min-height: 160px;
  object-fit: cover;
  height: 160px;
  width: 200px;
  background: #eceff1;
}
.brands {
  display: inline-block;
  width: 100%;
  padding: 1% 0;
  text-align: center;
  background: #fff;
  margin: 2% 0;
}
.brands .col-2 {
  transition: all 0.4s;
  width: 14.3%;
  margin: 1%;
  text-align: center;
  display: inline-block;
  float: none;
  border: 1px solid #ccc;
  padding: 1%;
}
.ad-product .col-6 img {
  max-width: 100%;
  padding: 0;
  object-fit: cover;
  height: 350px;
  width: 800px;
  transition: all 0.5s;
  min-height: 250px;
}
.ad-product .col-6 img:hover{
  opacity: 0.5;
}
.ad-product {
  width: 100%;
  padding: 1% 0;
  display: inline-block;
  text-align: center;
}
.ad-product .col-6{
  position: relative;
}
.ad-product .col-6 .caption {
    position: absolute;
    top: 5%;
    right: 5%;
    background: #0006;
    padding: 2%;
}
.ad-product .col-6 .caption a{
  color: #fff;
}
.ad-product .discount{
  position: absolute;
  top: 30%;
  right: 15%;
}
.ad-product .discount mark{
    border-radius: 50px;
    padding: 30%;
    float: left;
    background: #ff7a04;
    color: #fff;
    font-size: 2em;
    transition: all 0.5s;
}
.ad-product .discount mark:hover {
  transform: scale(1.2);
}
.ad-product .more_plan{
  position: absolute;
  display: block;
  padding: 1%;
  top: 55%;
  right: 10%;
}
.ad-product .more_plan:hover {
  background-color: #ff7a04;
}
.ad-product .more_plan a:hover {
  color: #fff;
}
.social-place {
  padding:5px 0;
  text-align:left;
  float:left
}

.social {
background-color: #a70006;
display: inline-block;
border-radius: 50%;
margin: 2px;
padding: 0 2px;
}
.social-place a {
  color: #5c00a7;
}
.social-place a:hover {
  color: #FF7A04;
}
.social-place a::before {
  padding: 5px 0px;
}
footer {
  width: 100%;
  float: right;
  background: #cccc;
}
footer .social-place {
  width: 98%;
  padding: 1% 0;
  margin: 1%;
  background: #f5f4f7;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5em;
  line-height: 0;
}
.contact {
  float: right;
  width: 98%;
  background: #f5f4f7;
  text-align: right;
  margin: 1%;
  border-radius: 5px;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li{
  float: right;
  border-left: 1px solid #d2d3d3;
  font-size: 0.8em;
  padding: 1%;
}
footer ul li:hover{
  background: #efe4ff;
}
footer ul li:last-child{
  float: left;
  text-align: right;
}
footer span{
  display: inline-block;
}
.contact i{
  color: #5c00a7;
}
footer a , footer a:link,footer a:visited{
  color: #5c00a7;
}
footer a:hover, .contact i:hover{
  color: #ff7a04;
}
footer .contact p{
  margin: 0em;
}
.footer .col-6 img {
  max-width: 100%;
  min-height: 146px;
  padding: 1%;
  height: 146px;
  width: 125px;
  object-fit: cover;
}
.footer .col-6:nth-child(2) .col-3{
    float: left;
    text-align: center;
    background-color: #f5f4f7;

}
.footer .col-6 p{
  padding: 2%;
  text-align: justify;
}
.bottom_footer {
  width: 100%;
  float: right;
  text-align: center;
  background: #9d9999;
  padding: 2% 2% 1% 2%;
  font-size: 0.8em;
}
.footer {
  width: 100%;
  padding: 1%;
  float: right;
}
.ad-product .hover_effect::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.ad-product .hover_effect:hover, .ad-product .hover_effect:focus, .ad-product .hover_effect:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.ad-product .hover_effect:hover::before, .ad-product .hover_effect:focus::before, .ad-product .hover_effect:active::before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.category .more_plan{
padding: 2% 5%;

}
.category .more_plan:hover{
background-color: #7a8c9a;
  
  }
.best_product .more_plan.hover_effect :hover::before,
 .best_product  .more_plan.hover_effect :focus::before,
  .best_product  .more_plan.hover_effect :active::before {
  left: 0;
  right: 0;
}
.best_product .more_plan.hover_effect ::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #FF7A04;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.best_product .best_product .more_plan.hover_effect {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.up {
  cursor: pointer;
  position: fixed;
  bottom: 33px;
  right: 20px;
  z-index: 9999;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: .3s ease-out;
  background: #6f42c1;
}
.up i {
  transition: .3s ease-out;
  margin: 13px 14px 0 0;
  position: absolute;
  color: #fff;
}
/* Under 2400px	*/
@media (max-width: 2400px) {
}
/* Under 1920px	*/
@media (max-width: 2000px) {

/* Under 1600px	*/
@media (max-width: 1700px) {

}

/* Under 1360px	*/
@media (max-width: 1400px) {

}
/* Under 1280px	*/
@media (max-width: 1300px) {

}
  /* Under 1150px	*/
@media (max-width: 1200px) {
  .product .col-3 {
    width: 24.6%;
    margin: 1% 0;
}
.footer .col-6:nth-child(2) .col-3{
  width: 24.6%;
  float: unset;
}
.footer .col-6:nth-child(2)  {
  text-align: center;
}
}

/* Under 1024px	*/
@media (max-width: 1100px) {
  .product .col-3 {
    width: 32.6%;
}
.col-8 {
  display: inline-block;
  float: none;
  text-align: center;
}
.category .col-8 .col-2 {
  width: 31%;
}
.brands .col-2 {
  width: 22.3%;
}
}
/* Under 1000px	*/
@media (max-width: 980px) {
  
.menu-place {
  position: absolute;
  width: 0;
  top: 46px;
  right: -380px;
  background-color: transparent;
  line-height: 30px;
}
.menu {
  text-align: right;
  padding-top: 10px;
}
.dropdown ul {
  padding-right: 0px;
 box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1);
 text-align: right;
}
.menu i {
  display: inline;
  color: #fff;
  margin-right: 2%;
  cursor: pointer;
  font-size: 2em;
}
aside{
  display: none;
}
.wraper .content {
  min-width: auto;
  flex: 1;
  float: right;
  margin: auto;
  width: 100%;
}
.category .col-8 {
  width: 99%;
}
.category .col-3{
  width: 98%;
}
.banner-place {
  height: auto;
}
.category .col-8 .col-2 {
  width: 48%;
}
footer ul li {
  width: 100%;
  }
  .col-6 {
    width: 100%;
    padding: 2% 0;
  }
}
/* Under 800px	*/
@media (max-width: 820px) {

.ad-product .col-6 img {
  min-height: auto
}
.product .col-4 {
  width: 100%;
}
.product .col-4 img, .product .col-2 img {
  min-height: auto;
  height: auto;
}
   .product .col-4 img {
  min-height: auto;
}
}


/* Under 768px	*/
@media (max-width: 780px) {

}

/* Under 620px	*/
@media (max-width:650px)  {
  .brands .col-2 {
    width: 30.3%;
}
.product .col-3 {
  width: 49.6%;
}
.logo-place {
  width: 100%;
  text-align: center;
}
.search {
  width: 98%;
  float: left;
  margin: 1%;
}
header div:nth-child(1) span:nth-child(3) {
  width: 50%;
}
}

/* Under 550px	*/
@media (max-width:580px) {


}

/* Under 500px	*/
@media (max-width:550px) {
.brands .col-2 {
  width: 47.5%;
}
.product .col-3,
.category .col-3,
.category .col-8 {
  width: 96%;
  margin: 2%;
}
.product .col-3 img {
  min-height: auto;
  height: auto;
}
.category .col-8 .col-2 {
  width: 100%;
  padding: 0;
  margin: 2% 0;
}
.category figure img {
  min-height: auto;
  height: auto;
}
.footer .col-6:nth-child(2) .col-3 {
  width: 30.6%;
}
}

/* Under 412px	*/
@media (max-width: 500px) {
  .brands .col-2 {
    width: 96%;
    margin: 2%;
}
.footer .col-6:nth-child(2) .col-3 {
  width: 98.6%;
}
.brands .col-2 img{
  min-height: auto;
  height: auto;
}
}


/* Under 360px	*/
    @media (max-width: 380px) {
    }
    }
